<body id="home">

  <h1>Jack Hardy</h1>

  <h3>About me</h3>
  <p>I am Jack. Enthusiastic. Curious. Personable. Junior Developer.</p>

  <p>If I had to describe myself to a rubber duck, I would say ->  "I am an empathetic individual - calm yet driven. I am easily excited by and driven by change, and love being involved in a fast-paced environment. I love learning from others and being surrounded by interesting people. I have an inquisitive & creative mind, and love solving problems"</p>

  <p>The rubber duck might ask me -> "interesting... but what does that have to do with wanting to be a developer?".</p>

  <p>I might respond with -> " well... good question duck... for me programming is like playing with lego online, lots of puzzles one after another. Who wouldn't want to play with puzzles all day? Coming up with creative solutions as a programmer is a dream - well my dream job anyway. I'm not afraid of a challenge and learning something new, in fact I'm hungry for it. It's also about my joy of working with people, and I've found through pairing and working with others you can learn so much & conquer pretty much anything as a team "</p>

  <p>I've just finished an intensive 12-week coding bootcamp at Makers Academy, where I've learned how to apply extreme programming principles with elegantly written code. We've learned how to learn completely new technologies on our own, how to solve problems individually in a calm and focused manner, and how to work well with others. I'm now searching for a job that adheres to the same values that I've learned here.</p>

  <h5>Curious Mind</h5>
  <li>Have travelled many parts of the world, lived in 4 different countries, worked in over 5 completely different industries, and gained a great understanding of how people work and what people need.
  <li>Countries I've lived and worked in: Colombia, Italy, Spain.
  <li>Industries I've worked in: Digital Publishing, Advertising, Finance, Education, Events.
  <li>Happiest when able to be continuously learning.

  <h5>Communication</h5>
  <li>Really enjoy pairing & working with people to build great code.</li>
  <li>Good communicator from many years as a teacher.</li>
  <li>Years of experience working in sales dealing with demanding clients.</li>
  <li>Great listener, good at taking feedback on board.</li>
  <li>Speak Italian and Spanish well.</li>

  <h5>Self Motivated</h5>
  <li>Started my own company at 23 (Learn Business English Direct), where I set up a language school for business people in a completely different country <li>Colombia. I had to source all the students, create the curriculum and handle finances.</li>
  <li>Cycled from London to Sicily in 5 weeks with 1 day break. Not one to give up easily.</li>

  <h5>Problem Solving</h5>
  <li>Have been heavily involved with strategy in previous jobs & really enjoyed it:</li>
    <li> I consulted advertising agencies on their new business strategy when working at Ingenuity ABM, a new business consultancy and really enjoyed it. I would describe myself as a big-picture thinker.</li>
  <li>Keen chess player</li>

  <h5>Ping Pong</h5>
  <li>Dynamic server, strong backhand, good all round player

  <h5>Tech Education</h5>

  <h5>Makers Academy (April 2016 to July 2016)</h5>

  <li>Agile methodologies, Test Driven Development, Behaviour Driven Development, OOD, SOLID, MVC
  <li>Independent learner and problem-solver, but also enjoy pairing and team work.
  <li>Technologies: Ruby, Rails, Javascript, AngularJS, Sinatra, Ionic, JQuery, PostreSQL
  <li>Testing: Rspec, Jasmine, Karma, Protractor, Capybara

  <h4>Experience</h4>

  **Freelance English Tutor** (Jan 2015 - April 2016)
  **International House London** (June 2014 - Jan 2015)
  *Business English Tutor*

    * Taught groups and individuals Business English.

  **Ingenuity ABM** (Aug 2012 - Jan 2014)
  *New Business Consultant*

    * Consulted for major advertising and marketing Companies
    * Secured opportunities with director-level executives at influential brands &
  companies in the UK
    * Advised the clients on new business strategy

  **Yudu Media** (Jan 2011 - July 2012)
  *International Account Manager*

    * Business development for a leading digital publishing start-up
    * Responsible for business development in the UK and abroad
    * Secured partnerships in Spain, Italy and India

  **Learn Business English Direct** (Sept 2009 - Sept 2010)
  *Founder & Director*

    * Started a school teaching English to business executives
    * Developed and implemented 3 different courses
    * Sourced blue chip clients from companies such as BP, Shell and IBM

  **Colombian British Chamber of Commerce** (Sept 2009 - Sept 2010)
  *Commercial Consultant*

  * Promoted trade between Colombia and the UK
  * Responsible for business development
  * Analysis into foreign trade opportunities
  * Organised key events for CEO level individuals from companies such as BP &
  Shell

  ## Other Education

  #### Leeds University (2004 to 2009)

  - Italian with Spanish (BA(Hons))

  #### Any other qualifications

  **Cambridge Certificate of English Language Training to Adults (TEFL)** (2009)
</body>
