#home body {
  padding-left: 80px;
}

footer {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-right: -50%;
    height: 10%;
}

#centred-items {
  color: #333;
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  font-size: 10px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}
