<!DOCTYPE html>
<html lang="en" ng-app="instaApp">
  <head>
    <meta charset="utf-8">
    <title>InstaClone</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookie/angular-cookie.js"></script>
    <script src="bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.48.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/InstaController.js"></script>
    <script type="text/javascript" src="js/factories/InstaFactory.js"></script>
    <script type="text/javascript" src="js/services/S3UploadService.js"></script>
  </head>

    <body>

      <p> Hello World </p>
      <div id="instas" ng-controller="InstaController as ctrl">
        <p ng-repeat="insta in ctrl.instas">
          name: {{ insta.text }} {{ insta.completed ? "Completed" : "unfinished"}}
          <br>
          <img src="{{ insta.image }}" height="300" width="300"/>
          <br>
          <button type="button" ng-click="ctrl.addComment()">Add comment</button>
          <span ng-hide="insta.completed" ng-click="insta.complete();">Complete</span>
        </p>



          <form novalidate>
          <div>
              <h1>Upload Files</h1>
              <p>
                <button type="file" ngf-select="uploadFiles($files)" ngf-multiple="true">
                    Select File
                </button>
                <input id="new-insta-text" type="text" ng-model="instaText">
                <button id="add-insta" class="btn btn-default" ng-click="ctrl.addInsta(instaText);">Add an Insta</button>
                <br>
                <button id="remove-insta" class="btn btn-default" ng-click="ctrl.removeInsta();">Remove last Insta</button>
              </p>
          </div>

            <div ng-show="Files.length > 0">
                <div ng-repeat="file in Files">
                    File:
                    <div>
                        {{file.name}} {{file.$error}} {{file.$errorParam}}
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{file.Progress}}%;">
                            {{file.Progress | number:0}}%
                        </div>
                    </div>
                    <div class="alert alert-info" role="alert" ng-show="file.Progress == 100 && !file.Success">Processing, please wait...</div>
                    <div class="alert alert-success" role="alert" ng-show="file.Success">Upload Complete!</div>
                </div>

                <div class="alert alert-danger" role="alert" ng-show="errorMsg.length > 0">
                    Oooops we had trouble uploading the file. Please refresh the page and try again.
                    <p>If the problem persits please supply us with the following details</p>
                    <p>{{errorMsg}}</p>
                </div>
                <div>{{Error}}</div>
            </div>
        </div>
    </div>

    </body>

</html>
